.treeview {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;

    li {
        margin: 0.5rem 0;
    }

    ul {
        list-style: none;
        margin: 0;
        margin-left: 1rem;
        padding: 0;
    }

    a {
        color: $text-color;
        &:hover {
            color: $primary-color;
        }
        &.active {
            color: $primary-color;
            font-weight: bold;
        }
    }
}