<!-- START OF BREADCRUMBS -->

<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html" class="breadcrumb-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="account.html" class="breadcrumb-link">Account</a>
            </li>
            <li class="breadcrumb-item">
                <span>@@data-current</span>
            </li>
        </ul>
    </div>
</div>

<!-- END OF BREADCRUMBS -->