<ul class="treeview">
	<li data-node-id="1">
		<a href="#">Clearance (203)</a>
	</li>
	<li data-node-id="2">
		<a href="#">Other Items (1)</a>
	</li>
	<li data-node-id="3">
		<a href="#">Used (7)</a>
	</li>
	<li data-node-id="4" class="simple-tree-opened">
		<a href="#">Cameras (189)</a>
		<ul>
			<li data-node-id="4.1">
				<a href="#" class="active">DSLR Cameras (1)</a>
			</li>
			<li data-node-id="4.2">
				<a href="#">Compact Digital Cameras (6)</a>
			</li>
			<li data-node-id="4.3">
				<a href="#">Instax &amp; Film Cameras (26)</a>
			</li>
			<li data-node-id="4.4">
				<a href="#">Mirrorless Digital Cameras (21)</a>
			</li>
			<li data-node-id="4.5">
				<a href="#">Camera Accessories Cameras (135)</a>
			</li>
		</ul>
	</li>
	<li data-node-id="5" class="simple-tree-closed">
		<a href="#">Lenses</a>
		<ul>
			<li data-node-id="5.1">
				<a href="#">Convertion Lenses (4)</a>
			</li>
			<li data-node-id="5.2">
				<a href="#">Lens Accessories (116)</a>
			</li>
			<li data-node-id="5.3">
				<a href="#">Lens Filter (44)</a>
			</li>
			<li data-node-id="5.4">
				<a href="#">Mirrorless Lenses (37)</a>
			</li>
			<li data-node-id="5.5">
				<a href="#">Special Effect Optic Lenses (6)</a>
			</li>
			<li data-node-id="5.6">
				<a href="#">DSLR Lenses (2)</a>
			</li>
		</ul>
	</li>
</ul>