<select class="form-control" name="category_id" class="form-control">
    <option value="0">All categories</option>
    <option value="157">Clearance</option>
    <option value="180">Other Items</option>
    <option value="70">Used</option>
    <option value="33">Cameras</option>
    <option value="67">&nbsp;&nbsp;DSLR Cameras</option>
    <option value="65">&nbsp;&nbsp;Compact Digital Cameras</option>
    <option value="72">&nbsp;&nbsp;Instax &amp; Film Cameras</option>
    <option value="154">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instax Cameras</option>
    <option value="116">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instax Films</option>
    <option value="64">&nbsp;&nbsp;Mirrorless Digital Cameras</option>
    <option value="114">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fujifilm</option>
    <option value="115">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony</option>
    <option value="66">&nbsp;&nbsp;Camera Accessories</option>
    <option value="98">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batteries &amp; Power</option>
    <option value="94">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Camera Straps</option>
    <option value="155">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cleaning Products</option>
    <option value="179">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom L-Plates</option>
    <option value="95">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LCD Screen Protectors</option>
    <option value="99">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Memories Storage</option>
    <option value="119">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other Accessories</option>
    <option value="97">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shutter Buttons &amp;  Remotes</option>
    <option value="96">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thumb Grips &amp; Lens Tab</option>
    <option value="25">Lenses</option>
    <option value="76">&nbsp;&nbsp;Convertion Lenses</option>
    <option value="77">&nbsp;&nbsp;Lens Accessories</option>
    <option value="131">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lens Cap &amp; Cover</option>
    <option value="120">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lens Filters</option>
    <option value="132">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lens Hood</option>
    <option value="133">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Step UP &amp; Step Down Rings</option>
    <option value="134">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zoom Rubber Rings</option>
    <option value="126">&nbsp;&nbsp;Lens Filters</option>
    <option value="127">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Circular Polarizer/Linear Filters</option>
    <option value="128">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neutral Density Filters</option>
    <option value="129">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Square Filters</option>
    <option value="130">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UV Haze Filters</option>
    <option value="74">&nbsp;&nbsp;Mirrorless Lenses</option>
    <option value="75">&nbsp;&nbsp;Special Effect Optics Lenses</option>
    <option value="73">&nbsp;&nbsp;DSLR Lenses</option>
    <option value="18">Studio &amp; Lighting</option>
    <option value="139">&nbsp;&nbsp;Backgrounds Backdrop</option>
    <option value="79">&nbsp;&nbsp;Flashes &amp; Accessories</option>
    <option value="138">&nbsp;&nbsp;Light &amp; Boom Stand</option>
    <option value="82">&nbsp;&nbsp;Lights &amp; Strobes</option>
    <option value="137">&nbsp;&nbsp;Monopods</option>
    <option value="81">&nbsp;&nbsp;Photo Tripods</option>
    <option value="80">&nbsp;&nbsp;Softbox</option>
    <option value="20">Tripods</option>
    <option value="143">&nbsp;&nbsp;Ball Heads and Plates</option>
    <option value="141">&nbsp;&nbsp;Monopods</option>
    <option value="172">&nbsp;&nbsp;Other Accessories </option>
    <option value="140">&nbsp;&nbsp;Photo Tripods</option>
    <option value="156">&nbsp;&nbsp;Stabilizers</option>
    <option value="142">&nbsp;&nbsp;Video Tripods</option>
    <option value="34">Printers &amp; Inks</option>
    <option value="145">&nbsp;&nbsp;Consumables</option>
    <option value="83">&nbsp;&nbsp;ID Card Printer</option>
    <option value="144">&nbsp;&nbsp;Photo Booth Printers</option>
    <option value="84">&nbsp;&nbsp;Photo Printers</option>
    <option value="17">Drones &amp; Action Cameras</option>
    <option value="158">&nbsp;&nbsp;Action Cameras</option>
    <option value="147">&nbsp;&nbsp;Drone Accessories</option>
    <option value="146">&nbsp;&nbsp;Drone Bags &amp; Cases</option>
    <option value="85">&nbsp;&nbsp;Drone Cameras</option>
    <option value="174">&nbsp;&nbsp;Gopro Accessories</option>
    <option value="173">&nbsp;&nbsp;Other Accessories</option>
    <option value="57">Batteries &amp; Powersupply</option>
    <option value="150">&nbsp;&nbsp;Battery Accessories</option>
    <option value="178">&nbsp;&nbsp;Battery Chargers</option>
    <option value="148">&nbsp;&nbsp;Camera Batteries</option>
    <option value="59">Photo Storage &amp; Frames</option>
    <option value="171">&nbsp;&nbsp;Acid Free Photo Albums</option>
    <option value="90">&nbsp;&nbsp;Wooden Photo Box 4R (4X6") with 8GB USB</option>
    <option value="60">Film</option>
    <option value="153">&nbsp;&nbsp;120mm Films</option>
    <option value="152">&nbsp;&nbsp;35mm Films</option>
    <option value="92">&nbsp;&nbsp;Instax Films</option>
    <option value="61">Underwater</option>
    <option value="159">&nbsp;&nbsp;Underwater Accessories</option>
    <option value="162">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arms</option>
    <option value="169">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Battery and Charger</option>
    <option value="161">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clamps</option>
    <option value="160">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trays</option>
    <option value="176">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UW Cables</option>
    <option value="177">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UW Lenses</option>
    <option value="175">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UW Mounts  &amp; Filters</option>
    <option value="100">&nbsp;&nbsp;Underwater Camera Housing</option>
    <option value="168">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nauticam</option>
    <option value="167">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seafrog</option>
    <option value="71">&nbsp;&nbsp;Underwater Cameras</option>
    <option value="151">&nbsp;&nbsp;Underwater Lights</option>
    <option value="163">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Snoot Lights</option>
    <option value="164">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strobes</option>
    <option value="165">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Video Lights</option>
    <option value="62">Bags &amp; Cases</option>
    <option value="86">&nbsp;&nbsp;Backpacks</option>
    <option value="111">&nbsp;&nbsp;Drone Bags &amp; Cases</option>
    <option value="109">&nbsp;&nbsp;Hard Case</option>
    <option value="110">&nbsp;&nbsp;Pouches &amp; Wraps</option>
    <option value="106">&nbsp;&nbsp;Shoulder Bag</option>
    <option value="108">&nbsp;&nbsp;Top Load</option>
</select>