<div class="grid grid-category">
    <div class="grid-header">
        <a href="#toggle-sidebar" class="toggle-sidebar">
            <i class="m-icon">more_vert</i>
        </a>
        <h3>Mirrorless Digital Cameras</h3>
    </div>
    <div class="grid-body">
        <div class="grid-content">
            
            <div class="grid-item">
                <div class="grid-item-wrapper">
                    <div class="grid-item-media">
                        <a href="product-grid.html">
                            <img src="./img/sample-category01.jpg" />
                        </a>
                    </div>
                    <div class="grid-item-context">
                        <a href="product-grid.html">
                            <h3>Fujifilm (18)</h3>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="grid-item">
                <div class="grid-item-wrapper">
                    <div class="grid-item-media">
                        <a href="product-grid.html">
                            <img src="./img/sample-category02.jpg" />
                        </a>
                    </div>
                    <div class="grid-item-context">
                        <a href="product-grid.html">
                            <h3>Sony (3)</h3>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>