
        <div class="card">
            <div class="card-header" id="checkoutConfirmHeading">
                <h2 class="mb-0">
                    <button class="btn processing" type="button" data-toggle="collapse" data-target="#step6" aria-expanded="false" aria-controls="step6">
                        <i class="m-icon">arrow_forward</i>
                        <span>STEP 6: Confirm Order</span>
                        <span class="spinner"></span>
                    </button>
                </h2>
            </div>
            <div id="step6" class="collapse multi-collapse" aria-labelledby="checkoutConfirmHeading" data-parent="#checkoutSteps">
                <div class="card-body">
                    <div class="subcontainer">
                        <div class="subcontainer-card full">
                            <div class="col-md-12">
                                <partial src="datagrid-shoppingcart-readonly.html"></partial>
                                    
                                <div class="form-action border-top">
                                    <button type="button" class="btn btn-primary btn-right">
                                        Confirm Order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>