<partial src="breadcrumbs-compare.html"></partial>

<!-- START OF COMPARE PRODUCT SECTION -->

<div class="section section-productview">

    <div class="container">

      <div class="section-title">
          <h3>Product Comparison</h3>
      </div>

      <div class="section-table">
        <div class='comparison-table-wrapper'>
          <table class='comparison-table'>
            <caption>Product Details</caption>
            <tbody>
              <tr>
                <td class='row-label'>Product</td>
                <td>Sony DSC-WX500 Digital Camera with 30x Optical Zoom (Black)</td>
                <td>Sony DSC-W830 Cyber-Shot Digital Camera (Black)</td>
              </tr>
              <tr>
                <td class='row-label'>Image</td>
                <td class='align--center'><img src='/img/sample-comparison01.jpg' alt='Sony DSC-WX500 Digital Camera with 30x Optical Zoom (Black)' /></td>
                <td class='align--center'><img src='/img/sample-comparison02.jpg' alt='Sony DSC-W830 Cyber-Shot Digital Camera (Black)' /></td>
              </tr>
              <tr>
                <td class='row-label'>Price</td>
                <td>₱16,999</td>
                <td>₱6,499</td>
              </tr>
              <tr>
                <td class='row-label'>Model</td>
                <td>DSC-WX500</td>
                <td>DSC-W830</td>
              </tr>
              <tr>
                <td class='row-label'>Brand</td>
                <td>Sony</td>
                <td>Sony</td>
              </tr>
              <tr>
                <td class='row-label'>Availability</td>
                <td>In Stock</td>
                <td>Pre-Order</td>
              </tr>
              <tr>
                <td class='row-label'>Rating</td>
                <td>
                  <div class="star-rating" title="4 out of 5"> <span style="width: 80%;"></span></div>
                  <div class="review-count">Based on 14 reviews.</div>
                </td>
                <td>
                  <div class="star-rating" title="4 out of 5"> <span style="width: 80%;"></span></div>
                  <div class="review-count">Based on 5 reviews.</div>
                </td>
              </tr>
              <tr>
                <td class='row-label'>Summary</td>
                <td> 	Shoot your best Look even better, Improve your selfie, and take it easy, too. A 180-degree tiltable LCD monitor makes it simple to see how you look in the frame. Meet the new Sony WX500 the world’s sm..</td>
                <td>Capture the beauty in every scene effortlessly with the W830 Cyber-shot™. A high-resolution 20.1 MP image sensor works with built-in autofocus to ensure sharp, finely detailed results even when the ac..</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>0.48g</td>
                <td>0.25g</td>
              </tr>
              <tr>
                <td class='row-label'>
                  Dimensions
                  <small>(L x W x H)</small>
                </td>
                <td>15.00cm x 7.00cm x 12.00cm</td>
                <td>13.00cm x 8.00cm x 11.00cm</td>
              </tr>
              <tr>
                <td class='row-label'></td>
                <td class='button-group'>
                  <button type="submit" class="btn btn-primary">Add To Cart</button>
                  <button type="submit" class="btn btn-outline-primary">Remove</button>
                </td>
                <td class='button-group'>
                  <button type="submit" class="btn btn-primary">Add To Cart</button>
                  <button type="submit" class="btn btn-outline-primary">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- END OF COMPARE PRODUCT SECTION -->