
    <div class="datagrid datagrid--products">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="datagrid-col datagrid-col-thumb">
                        <span>
                            <a href="product.html">
                                <img src="./img/sample-product01-preview.jpg" alt="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)" />
                            </a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <a href="product.html">Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)</a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <div class="cartbox-quantity-spinner">
                                <input class="input-spinner" type="number" value="1" min="0" max="99" step="1"/>
                            </div>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>₱106,990</span>
                    </td>
                    <td class="datagrid-col">
                        <span class="text--bold">₱106,990</span>
                    </td>
                    <td class="datagrid-col datagrid-col-action">
                        <span>
                            <a href="#" class="cancel btn-danger">
                                <i class="m-icon">clear</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="datagrid-col datagrid-col-thumb">
                        <span>
                            <a href="product.html">
                                <img src="./img/sample-product02-preview.jpg" alt="Supremo Conquest" />
                            </a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <a href="product.html">Supremo Conquest</a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <div class="cartbox-quantity-spinner">
                                <input class="input-spinner" type="number" value="1" min="0" max="99" step="1"/>
                            </div>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>₱4,390</span>
                    </td>
                    <td class="datagrid-col">
                        <span class="text--bold">₱4,390</span>
                    </td>
                    <td class="datagrid-col datagrid-col-action">
                        <span>
                            <a href="#" class="cancel btn-danger">
                                <i class="m-icon">clear</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="datagrid-col datagrid-col-thumb">
                        <span>
                            <a href="product.html">
                                <img src="./img/sample-product03-preview.jpg" alt="Fujifilm FinePix XP130 Digital Camera" />
                            </a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <a href="product.html">Fujifilm FinePix XP130 Digital Camera</a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <div class="cartbox-quantity-spinner">
                                <input class="input-spinner" type="number" value="1" min="0" max="99" step="1"/>
                            </div>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>₱10,990</span>
                    </td>
                    <td class="datagrid-col">
                        <span class="text--bold">₱10,990</span>
                    </td>
                    <td class="datagrid-col datagrid-col-action">
                        <span>
                            <a href="#" class="cancel btn-danger">
                                <i class="m-icon">clear</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="datagrid-col datagrid-col-thumb">
                        <span>
                            <a href="product.html">
                                <img src="./img/sample-product04-preview.jpg" alt="Fujifilm Instax Mini 9 Instant Film Camera" />
                            </a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <a href="product.html">Fujifilm Instax Mini 9 Instant Film Camera</a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <div class="cartbox-quantity-spinner">
                                <input class="input-spinner" type="number" value="1" min="0" max="99" step="1"/>
                            </div>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>₱3,890</span>
                    </td>
                    <td class="datagrid-col">
                        <span class="text--bold">₱3,890</span>
                    </td>
                    <td class="datagrid-col datagrid-col-action">
                        <span>
                            <a href="#" class="cancel btn-danger">
                                <i class="m-icon">clear</i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="datagrid-col datagrid-col-thumb">
                        <span>
                            <a href="product.html">
                                <img src="./img/sample-product05-preview.jpg" alt="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)" />
                            </a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <a href="product.html">Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)</a>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>
                            <div class="cartbox-quantity-spinner">
                                <input class="input-spinner" type="number" value="1" min="0" max="99" step="1"/>
                            </div>
                        </span>
                    </td>
                    <td class="datagrid-col">
                        <span>₱54,990</span>
                    </td>
                    <td class="datagrid-col">
                        <span class="text--bold">₱54,990</span>
                    </td>
                    <td class="datagrid-col datagrid-col-action">
                        <span>
                            <a href="#" class="cancel btn-danger">
                                <i class="m-icon">clear</i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>