<partial src="quickview.html"></partial>
<!-- START OF TOAST HANDLER -->
<div class="toast-handler"></div>
<!-- END OF TOAST HANDLER -->
<!-- START OF FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Information</h3>
                <h5>Address</h5>
                <p>
                    <span>Unit 101, Eden's Place Bldg, C. Rosal St. Cor</span>
                    <span>Acacia St. Gorordo, Lahug</span>
                    <span>Cebu CIty</span>
                </p>
                <h5>Phone</h5>
                <p>
                    <span>0933 810 8245</span>
                    <span>0917 654 8300</span>
                </p>
                <h5>Email</h5>
                <p>
                    <span>
                        <a href="mailto:info@f8photo.ph" class="email-link">info@f8photo.ph</a>
                    </span>
                </p>
            </div>
            <div class="col-md-8">
                <h3>Newsletter</h3>
                <p>Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>
                <div class="input-group mb-3 newsletter-form">
                    <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="newsletter subscription">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="newsletter-btn">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-end">
            <div class="col-md-6 copyright">
                f8photo.ph &copy; 2020
            </div>
            <div class="col-md-6">
                <div class="payment-icons">
                    <img src="./img/payment4.jpg" alt="MasterCard">
                    <img src="./img/payment3.jpg" alt="American Express">
                    <img src="./img/payment2.jpg" alt="Visa">
                    <img src="./img/payment1.jpg" alt="PayPal">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->
<!-- BUNDLED SCRIPT -->
<script src="js/bundle.js"></script>
</body>
</html>