<!-- START OF HEADER SEARCH -->
<div id="header-search" class="header-search">
    <div class="header-search-wrapper">
        <div class="header-search-field">
            <div class="header-search-input">
                <input type="text" placeholder="Search..." />
                <div class="header-search-select">
                    <partial src='category-dropdown.html'></partial>
                </div>
            </div>
            <a href="searchresult.html" class="btn btn-primary header-search-button">
                <i class="m-icon">search</i>
            </a>
        </div>
    </div>
</div>
<!-- END OF HEADER SEARCH -->
