<!-- START HEADER CART -->
<div class="header-cart">
    <div class="container">
        <div class="row">
            <div class="callus ">
                <div class="media">
                    <div class="media-icon">
                        <i class="m-icon">phone</i>
                    </div>
                    <div class="media-body">
                        <p>Call Us Now</p>
                        <h5 class="mt-0">09338108245</h5>
                    </div>
                </div>
            </div>
            <div class="cartbox">
                <div class="media">
                    <div class="media-icon">
                        <i class="m-icon">shopping_basket</i>
                        <span class="cartbox-count">99</span>
                    </div>
                    <div class="media-body">
                        <h5>
                            <span class="label">Cart:</span>
                            <span class="value">₱233,680,000</span>
                            <i class="m-icon">arrow_drop_down</i>
                        </h5>
                    </div>
                </div>
                <div class="popup cartbox-popup">
                    <div class="popup-wrapper">
                        <div class="popup-header"></div>
                        <div class="popup-body">

                            <!-- START POPUP CONTENT -->
                            <div class="datagrid datagrid--products">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="datagrid-col datagrid-col-thumb">
                                                <span>
                                                    <a href="product.html">
                                                        <img src="./img/sample-product01-preview.jpg" alt="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)" />
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>
                                                    <a href="product.html">Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)</a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>1x</span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span class="text--bold">₱106,990</span>
                                            </td>
                                            <td class="datagrid-col datagrid-col-action">
                                                <span>
                                                    <a href="#" class="cancel btn-danger">
                                                        <i class="m-icon">clear</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="datagrid-col datagrid-col-thumb">
                                                <span>
                                                    <a href="product.html">
                                                        <img src="./img/sample-product02-preview.jpg" alt="Supremo Conquest" />
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>
                                                    <a href="product.html">Supremo Conquest</a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>1x</span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span class="text--bold">₱4,390</span>
                                            </td>
                                            <td class="datagrid-col datagrid-col-action">
                                                <span>
                                                    <a href="#" class="cancel btn-danger">
                                                        <i class="m-icon">clear</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="datagrid-col datagrid-col-thumb">
                                                <span>
                                                    <a href="product.html">
                                                        <img src="./img/sample-product03-preview.jpg" alt="Fujifilm FinePix XP130 Digital Camera" />
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>
                                                    <a href="product.html">Fujifilm FinePix XP130 Digital Camera</a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>1x</span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span class="text--bold">₱10,990</span>
                                            </td>
                                            <td class="datagrid-col datagrid-col-action">
                                                <span>
                                                    <a href="#" class="cancel btn-danger">
                                                        <i class="m-icon">clear</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="datagrid-col datagrid-col-thumb">
                                                <span>
                                                    <a href="product.html">
                                                        <img src="./img/sample-product04-preview.jpg" alt="Fujifilm Instax Mini 9 Instant Film Camera" />
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>
                                                    <a href="product.html">Fujifilm Instax Mini 9 Instant Film Camera</a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>1x</span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span class="text--bold">₱3,890</span>
                                            </td>
                                            <td class="datagrid-col datagrid-col-action">
                                                <span>
                                                    <a href="#" class="cancel btn-danger">
                                                        <i class="m-icon">clear</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="datagrid-col datagrid-col-thumb">
                                                <span>
                                                    <a href="product.html">
                                                        <img src="./img/sample-product05-preview.jpg" alt="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)" />
                                                    </a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>
                                                    <a href="product.html">Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)</a>
                                                </span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span>1x</span>
                                            </td>
                                            <td class="datagrid-col">
                                                <span class="text--bold">₱54,990</span>
                                            </td>
                                            <td class="datagrid-col datagrid-col-action">
                                                <span>
                                                    <a href="#" class="cancel btn-danger">
                                                        <i class="m-icon">clear</i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END POPUP CONTENT -->

                        </div>
                        <div class="popup-actions">
                            <div class="datagrid clean">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="align--right">
                                                <span>
                                                    <span>Sub-Total:</span>
                                                    <span class="text--bold">₱106,990</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align--right">
                                                <span>
                                                    <div class="datagrid-total">
                                                        <span>Total:</span>
                                                        <span class="text--bold">₱1,990,292</span>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align--right">
                                                <span>
                                                    <div class="datagrid-action-group">
                                                        <a href="cart.html" class="btn btn-secondary">View Cart</a>
                                                        <a href="checkout.html" class="btn btn-primary">Checkout</a>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER CART -->
