<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>F8Photo</title>
  </head>
<body>
  <partial src="header-topnav.html"></partial>

  <!-- START OF HEADER -->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 branding-col">
          <partial src="header-branding.html"></partial>
        </div>
        <div class="col-lg-5 col-md-6 search-col">
          <partial src="header-search.html"></partial>
        </div>
        <div class="col-lg-4 col-md-6 cart-col">
          <partial src="header-cart.html"></partial>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF HEADER -->