<!-- START OF TOPNAV -->
<div class="topnav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="topnav-list">
                    <li class="topnav-list-item">
                        <a href="account-wishlist.html" class="topnav-link">
                            Wish List
                            <span>0</span>
                        </a>
                    </li>
                    <li class="topnav-list-item">
                        <a href="login.html" class="topnav-link">
                            My Account
                        </a>
                    </li>
                    <li class="topnav-list-item">
                        <a href="cart.html" class="topnav-link">
                            Shopping Cart
                        </a>
                    </li>
                    <li class="topnav-list-item">
                        <a href="checkout.html" class="topnav-link">
                            Checkout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END OF TOPNAV -->
