<!-- START OF MAIN MENU -->
<div class="mainmenu collapsed">
    <div class="mainmenu-wrapper">
        <div class="container">
            <div class="sidebar collapsed">
                <div class="sidebar-wrapper">
                    <div class="sidebar-header">
                        <i class="m-icon">menu</i>
                        <i class="m-icon close">expand_less</i>
                        <span>Shop by Category</span>
                    </div>
                    <div class="sidebar-body">
                        <ul>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-camera"></i>
                                    <span>Camera</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-lens"></i>
                                    <span>Lenses</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-lighting"></i>
                                    <span>Studio &amp; Lighting</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-tripod"></i>
                                    <span>Tripods</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-printer"></i>
                                    <span>Printers &amp; Inks</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-drone"></i>
                                    <span>Drones</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-battery"></i>
                                    <span>Batteries &amp; Powersupply</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-film"></i>
                                    <span>Film</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-underwatercamera"></i>
                                    <span>Underwater</span>
                                </a>
                            </li>
                            <li>
                                <a href="category.html">
                                    <i class="icon f8-bags"></i>
                                    <span>Bags &amp; Cases</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menu-header">
                    <i class="m-icon">menu</i>
                    <i class="m-icon close">expand_less</i>
                    <span>Navigation</span>
                </div>
                <div class="menu-body">
                    <ul>
                        <li>
                            <a href="index.html" class="active">Home</a>
                        </li>
                        <li>
                            <a href="shop.html">Shop</a>
                        </li>
                        <li>
                            <a href="used.html">Used</a>
                        </li>
                        <li>
                            <a href="business.html">Business Solutions</a>
                        </li>
                        <li>
                            <a href="print.html">Print</a>
                        </li>
                        <li>
                            <a href="#">Learn <i class="m-icon">arrow_drop_down</i></a>
                            <ul>
                                <li>
                                    <a href="workshop.html">Workshops</a>
                                </li>
                                <li>
                                    <a href="events.html">Events</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF MAIN MENU -->