<div class="section-sidemain">
    <div class="section-sidemain-header">
        <a href="#toggle-sidebar" class="toggle-sidebar">
            <i class="m-icon">more_vert</i>
        </a>
        <h3>Your Personal Details</h3>
    </div>
    <div class="section-sidemain-body">
        
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="detailsFirstName">First Name</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="text" class="form-control" name="detailsFirstName" id="detailsFirstName" required>
            </div>
        </div>
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="detailsLastName">Last Name</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="text" class="form-control" name="detailsLastName" id="detailsLastName" required>
            </div>
        </div>
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="detailsEmail">Email</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="text" class="form-control" name="detailsEmail" id="detailsEmail" required>
            </div>
        </div>
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="detailsPhone">Phone</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="text" class="form-control" name="detailsPhone" id="detailsPhone" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="detailsFax">Fax</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="text" class="form-control" name="detailsFax" id="detailsFax">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-action border-top inline-revesed">
                <button type="button" class="btn btn-primary">
                    Update
                </button>
            </div>
        </div>

    </div>
</div>