
                    <h4>Account</h4>
                    <ul>
                        <li>
                            <a href="account.html">Personal Details</a>
                        </li>
                        <li>
                            <a href="account-password.html">Change Password</a>
                        </li>
                        <li>
                            <a href="account-address.html">Address Book</a>
                        </li>
                        <li>
                            <a href="account-wishlist.html">Wish List</a>
                        </li>
                    </ul>
                    <h4>Orders</h4>
                    <ul>
                        <li>
                            <a href="account-orderhistory.html">Order History</a>
                        </li>
                        <li>
                            <a href="account-returns.html">Return Requests</a>
                        </li>
                        <li>
                            <a href="account-transactions.html">Transactions</a>
                        </li>
                        <li>
                            <a href="account-recurring.html">Recurring Payments</a>
                        </li>
                    </ul>
                    <h4>Newsletter</h4>
                    <ul>
                        <li>
                            <a href="account-newsletter.html">Subscribe/Unsubscribe</a>
                        </li>
                    </ul>