<div class="section-sidemain">
    <div class="section-sidemain-header">
        <a href="#toggle-sidebar" class="toggle-sidebar">
            <i class="m-icon">more_vert</i>
        </a>
        <h3>Change Your Password</h3>
    </div>
    <div class="section-sidemain-body">
        
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="password">New Password</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
        </div>
        <div class="form-group required">
            <div class="col-lg-3 col-md-5 text-right">
                <label for="passwordConfirm">Confirm Password</label>
            </div>
            <div class="col-lg-9 col-md-7">
                <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-action border-top inline-revesed">
                <button type="button" class="btn btn-primary">
                    Update
                </button>
            </div>
        </div>

    </div>
</div>