<div class="section-sidemain">
    <div class="section-sidemain-header">
        <a href="#toggle-sidebar" class="toggle-sidebar">
            <i class="m-icon">more_vert</i>
        </a>
        <h3>Wish List</h3>
    </div>
    <div class="section-sidemain-body">

        <div class="grid view-list">
            <div class="grid-content">
                <div class="contentlist">
                    <div class="contentlist-item">
                        <div class="contentlist-media">
                            <a href="product.html?prodid=4">
                                <img src="./img/sample-product04-preview.jpg" />
                            </a>
                        </div>
                        <div class="contentlist-context">
                            <a href="product.html?prodid=4">
                                <p>Fujifilm Instax Mini 9 Instant Film Camera</p>
                                <p class="text--bold">Price: ₱3,899</p>
                            </a>
                        </div>
                        <div class="contentlist-actions">
                            <button class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                    <div class="contentlist-item">
                        <div class="contentlist-media">
                            <a href="product.html?prodid=14">
                                <img src="./img/sample-product14-preview.jpg" />
                            </a>
                        </div>
                        <div class="contentlist-context">
                            <a href="product.html?prodid=14">
                                <p>DJI Mavic Air Fly More Combo (White)</p>
                                <p class="text--bold">Price: ₱60,000</p>
                            </a>
                        </div>
                        <div class="contentlist-actions">
                            <button class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>