<div class="section-sidemain">
    <div class="section-sidemain-header">
        <a href="#toggle-sidebar" class="toggle-sidebar">
            <i class="m-icon">more_vert</i>
        </a>
        <h3>Address Book</h3>
    </div>
    <div class="section-sidemain-body">

        <div class="grid view-list">
            <div class="grid-content">
                <div class="contentlist">
                    <div class="contentlist-item">
                        <div class="contentlist-context">
                            <p class="text--bold">Sam Ting Wong</p>
                            <p>Tagolilong Heights Subdivision, Sikwate Road</p>
                            <p>Cebu City</p>
                            <p>Cebu, Philippines 6000</p>
                        </div>
                        <div class="contentlist-actions">
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-action border-top inline-revesed">
            <button type="button" class="btn btn-primary">
                Create New Address
            </button>
        </div>

    </div>
</div>