<div class="grid-pagination">
    <ul>
        <li>
            <a href="#prev" class="prev">
                <i class="m-icon">keyboard_arrow_left</i>
            </a>
        </li>
        <li>
            <a href="#1">1</a>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <a href="#1">7</a>
        </li>
        <li>
            <a href="#1">8</a>
        </li>
        <li>
            <a href="#1" class="active">9</a>
        </li>
        <li>
            <a href="#1">10</a>
        </li>
        <li>
            <a href="#1">11</a>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <a href="#1">24</a>
        </li>
        <li>
            <a href="#prev" class="next">
                <i class="m-icon">keyboard_arrow_right</i>
            </a>
        </li>
    </ul>
</div>