

<select name="zone_id" id="input-zone" class="form-control">
    <option value=""> --- Please Select --- </option>
    <option value="2552">Abra</option>
    <option value="2553">Agusan del Norte</option>
    <option value="2554">Agusan del Sur</option>
    <option value="2555">Aklan</option>
    <option value="2556">Albay</option>
    <option value="2557">Antique</option>
    <option value="2558">Apayao</option>
    <option value="2559">Aurora</option>
    <option value="2560">Basilan</option>
    <option value="2561">Bataan</option>
    <option value="2562">Batanes</option>
    <option value="2563">Batangas</option>
    <option value="2565">Benguet</option>
    <option value="2564">Biliran</option>
    <option value="2566">Bohol</option>
    <option value="2567">Bukidnon</option>
    <option value="2568">Bulacan</option>
    <option value="2569">Cagayan</option>
    <option value="2570">Camarines Norte</option>
    <option value="2571">Camarines Sur</option>
    <option value="2572">Camiguin</option>
    <option value="2573">Capiz</option>
    <option value="2574">Catanduanes</option>
    <option value="2575">Cavite</option>
    <option value="2576">Cebu</option>
    <option value="2577">Compostela</option>
    <option value="2578">Davao del Norte</option>
    <option value="2579">Davao del Sur</option>
    <option value="2580">Davao Oriental</option>
    <option value="2581">Eastern Samar</option>
    <option value="2582">Guimaras</option>
    <option value="2583">Ifugao</option>
    <option value="2584">Ilocos Norte</option>
    <option value="2585">Ilocos Sur</option>
    <option value="2586">Iloilo</option>
    <option value="2587">Isabela</option>
    <option value="2588">Kalinga</option>
    <option value="2592">La Union</option>
    <option value="2589">Laguna</option>
    <option value="2590">Lanao del Norte</option>
    <option value="2591">Lanao del Sur</option>
    <option value="2593">Leyte</option>
    <option value="2594">Maguindanao</option>
    <option value="4236">Manila</option>
    <option value="2595">Marinduque</option>
    <option value="2596">Masbate</option>
    <option value="2597">Mindoro Occidental</option>
    <option value="2598">Mindoro Oriental</option>
    <option value="2599">Misamis Occidental</option>
    <option value="2600">Misamis Oriental</option>
    <option value="2601">Mountain</option>
    <option value="2602">Negros Occidental</option>
    <option value="2603">Negros Oriental</option>
    <option value="2604">North Cotabato</option>
    <option value="2605">Northern Samar</option>
    <option value="2606">Nueva Ecija</option>
    <option value="2607">Nueva Vizcaya</option>
    <option value="2608">Palawan</option>
    <option value="2609">Pampanga</option>
    <option value="2610">Pangasinan</option>
    <option value="2611">Quezon</option>
    <option value="2612">Quirino</option>
    <option value="2613">Rizal</option>
    <option value="2614">Romblon</option>
    <option value="2615">Samar</option>
    <option value="2616">Sarangani</option>
    <option value="2617">Siquijor</option>
    <option value="2618">Sorsogon</option>
    <option value="2619">South Cotabato</option>
    <option value="2620">Southern Leyte</option>
    <option value="2621">Sultan Kudarat</option>
    <option value="2622">Sulu</option>
    <option value="2623">Surigao del Norte</option>
    <option value="2624">Surigao del Sur</option>
    <option value="2625">Tarlac</option>
    <option value="2626">Tawi-Tawi</option>
    <option value="2627">Zambales</option>
    <option value="2628">Zamboanga del Norte</option>
    <option value="2629">Zamboanga del Sur</option>
    <option value="2630">Zamboanga Sibugay</option>
</select>

