<partial src="breadcrumbs-account.html" data-current="Register Account"></partial>

<!-- START OF TERMS DOCUMENT -->

<div class="section section-login">

    <div class="container">

        <div class="section-title">
            <h3>Register Account</h3>
        </div>
        
        <div class="section-body">
            <div class="subcontainer">
                <div class="subcontainer-card">
                    <div class="col-md-12">
                        <div class="subcontainer-card-title">
                            <h4>Your Personal Details</h4>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsFirstName">First Name</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsFirstName" id="detailsFirstName" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsLastName">Last Name</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsLastName" id="detailsLastName" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsEmail">Email</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsEmail" id="detailsEmail" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsPhone">Phone</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsPhone" id="detailsPhone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsFax">Fax</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsFax" id="detailsFax">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="subcontainer-card-title sub">
                            <h4>Your Password</h4>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsPassword">Password</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="password" class="form-control" name="detailsPassword" id="detailsPassword" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsPasswordConfirm">Password Confirm</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="password" class="form-control" name="detailsPasswordConfirm" id="detailsPasswordConfirm" required>
                        </div>
                    </div>
                </div>
                
                <div class="subcontainer-card">
                    <div class="col-md-12">
                        <div class="subcontainer-card-title">
                            <h4>Your Address</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsCompany">Company</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsCompany" id="detailsCompany">
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsAddress1">Address 1</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsAddress1" id="detailsAddress1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsAddress2">Address 2</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsAddress2" id="detailsAddress2">
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsCity">City</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsCity" id="detailsCity" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsPostalCode">Postal Code</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" class="form-control" name="detailsPostalCode" id="detailsPostalCode" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsCountry">Country</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <partial src="country-dropdown.html"></partial>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 text-right">
                            <label for="detailsRegion">Region/State</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <partial src="region-dropdown.html"></partial>
                        </div>
                    </div>
                </div>

                <div class="subcontainer-card full">
                    <div class="col-md-12">
                        <div class="form-group form-check">
                            <input type="checkbox" name="detailsNewsletter" class="form-check-input" id="detailsNewsletter">
                            <label class="form-check-label" for="detailsNewsletter">I wish to subscribe to the f8photo.ph newsletter.</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" name="detailsDeliveryBillingSame" class="form-check-input" id="detailsDeliveryBillingSame" checked>
                            <label class="form-check-label" for="detailsDeliveryBillingSame">My delivery and billing addresses are the same.</label>
                        </div>
                        <div class="form-action inline-revesed border-top">
                            <div class="form-group form-check reversed">
                                <label class="form-check-label" for="detailsReadPolicy">I have read and agree to the <a href="privacy.html">Privacy Policy</a></label>
                                <input type="checkbox" name="detailsReadPolicy" class="form-check-input" id="detailsReadPolicy" required>
                            </div>
                            <button type="button" class="btn btn-primary">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END OF TERMS DOCUMENT -->