<!-- START OF PRODUCT SLIDER -->
<div class="product-slider">
    <div class="container">
        <div class="product-slider-header">
            <div class="product-slider-title">
                <h3>@@data-title</h3>
            </div>
            <div class="product-slider-filter">
                <ul>
                    <li>
                        <a href="#" class="active">All</a>
                    </li>
                    <li>
                        <a href="#">TV &amp; Audio</a>
                    </li>
                    <li>
                        <a href="#">Laptop</a>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-slider-body">
            <div class="slider">
                <div class="slider-container" data-slider="@@data-slider">
                    <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="1">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱106,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=1" class="product-item-image-link" title="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)">
                                <img src="./img/sample-product01-preview.jpg" alt="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="1">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=1" class="product-item-name" title="Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)">
                                Fujifilm X-H1 Mirrorless Digital Camera Body Only (Black)
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="4.2 of 5">
                                <span style="width: 84%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱106,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="2">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Supremo Conquest">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱4,390">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            <div class="sale">Sale</div>
                            <a href="product.html?prodid=2" class="product-item-image-link" title="Supremo Conquest">
                                <img src="./img/sample-product02-preview.jpg" alt="Supremo Conquest">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="2">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=2" class="product-item-name" title="Supremo Conquest">
                                Supremo Conquest
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="3.8 of 5">
                                <span style="width: 76%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱4,390
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="3">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm FinePix XP130 Digital Camera">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱10,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=3" class="product-item-image-link" title="Fujifilm FinePix XP130 Digital Camera">
                                <img src="./img/sample-product03-preview.jpg" alt="Fujifilm FinePix XP130 Digital Camera">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="3">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=3" class="product-item-name" title="Fujifilm FinePix XP130 Digital Camera">
                                Fujifilm FinePix XP130 Digital Camera
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="3.5 of 5">
                                <span style="width: 70%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱10,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="4">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm Instax Mini 9 Instant Film Camera">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱3,899">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            <div class="sale">Sale</div>
                            <a href="product.html?prodid=4" class="product-item-image-link" title="Fujifilm Instax Mini 9 Instant Film Camera">
                                <img src="./img/sample-product04-preview.jpg" alt="Fujifilm Instax Mini 9 Instant Film Camera">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="4">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=4" class="product-item-name" title="Fujifilm Instax Mini 9 Instant Film Camera">
                                Fujifilm Instax Mini 9 Instant Film Camera
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="3.4 of 5">
                                <span style="width: 68%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱3,899
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="5">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱54,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=5" class="product-item-image-link" title="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)">
                                <img src="./img/sample-product05-preview.jpg" alt="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="5">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=5" class="product-item-name" title="Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)">
                                Fujifilm X-T2 Mirrorless Digital Camera Body Only (Black)
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="4.4 of 5">
                                <span style="width: 88%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱54,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="6">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm X-E3 Mirrorless Digital Camera Body Only">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱35,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=6" class="product-item-image-link" title="Fujifilm X-E3 Mirrorless Digital Camera Body Only">
                                <img src="./img/sample-product06-preview.jpg" alt="Fujifilm X-E3 Mirrorless Digital Camera Body Only">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="6">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=6" class="product-item-name" title="Fujifilm X-E3 Mirrorless Digital Camera Body Only">
                                Fujifilm X-E3 Mirrorless Digital Camera Body Only
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="4.6 of 5">
                                <span style="width: 92%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱35,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="7">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Kodak M35 Film Camera">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱1,500">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=7" class="product-item-image-link" title="Kodak M35 Film Camera">
                                <img src="./img/sample-product07-preview.jpg" alt="Kodak M35 Film Camera">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="7">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=7" class="product-item-name" title="Kodak M35 Film Camera">
                                Kodak M35 Film Camera
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="3 of 5">
                                <span style="width: 60%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱1,500
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="8">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="JJC Ultra-Thin LCD Screen Protector for Fujifilm X-T10">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱550">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=8" class="product-item-image-link" title="JJC Ultra-Thin LCD Screen Protector for Fujifilm X-T10">
                                <img src="./img/sample-product08-preview.jpg" alt="JJC Ultra-Thin LCD Screen Protector for Fujifilm X-T10">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="8">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=8" class="product-item-name" title="JJC Ultra-Thin LCD Screen Protector for Fujifilm X-T10">
                                JJC Ultra-Thin LCD Screen Protector for Fujifilm X-T10
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱550
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="9">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Fujifilm X-T20 Mirrorless Digtial Camera Body Only">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱40,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            <div class="sale">Sale</div>
                            <a href="product.html?prodid=9" class="product-item-image-link" title="Fujifilm X-T20 Mirrorless Digtial Camera Body Only">
                                <img src="./img/sample-product09-preview.jpg" alt="Fujifilm X-T20 Mirrorless Digtial Camera Body Only">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="9">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=9" class="product-item-name" title="Fujifilm X-T20 Mirrorless Digtial Camera Body Only">
                                Fujifilm X-T20 Mirrorless Digtial Camera Body Only
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="4 of 5">
                                <span style="width: 80%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱40,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="10">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="MiniGear MS-03 Macro Snoot Diving Light (Black)">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱14,300">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=10" class="product-item-image-link" title="MiniGear MS-03 Macro Snoot Diving Light (Black)">
                                <img src="./img/sample-product10-preview.jpg" alt="MiniGear MS-03 Macro Snoot Diving Light (Black)">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="10">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=10" class="product-item-name" title="MiniGear MS-03 Macro Snoot Diving Light (Black)">
                                MiniGear MS-03 Macro Snoot Diving Light (Black)
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱14,300
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="11">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Transcend Card Reader RDF2">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱2,900">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=11" class="product-item-image-link" title="Transcend Card Reader RDF2">
                                <img src="./img/sample-product11-preview.jpg" alt="Transcend Card Reader RDF2">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="11">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=11" class="product-item-name" title="Transcend Card Reader RDF2">
                                Transcend Card Reader RDF2
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱2,900
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="12">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Benro Adventure Alumninum Tripod TAD18A">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱4,990">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            <div class="sale">Sale</div>
                            <a href="product.html?prodid=12" class="product-item-image-link" title="Benro Adventure Alumninum Tripod TAD18A">
                                <img src="./img/sample-product12-preview.jpg" alt="Benro Adventure Alumninum Tripod TAD18A">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="12">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=12" class="product-item-name" title="Benro Adventure Alumninum Tripod TAD18A">
                                Benro Adventure Alumninum Tripod TAD18A
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="4 of 5">
                                <span style="width: 80%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱4,990
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="13">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Benro Ballhead B1">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱5,450">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=13" class="product-item-image-link" title="Benro Ballhead B1">
                                <img src="./img/sample-product13-preview.jpg" alt="Benro Ballhead B1">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="13">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=13" class="product-item-name" title="Benro Ballhead B1">
                                Benro Ballhead B1
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱5,450
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="14">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="DJI Mavic Air Fly More Combo (White)">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱60,000">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=14" class="product-item-image-link" title="DJI Mavic Air Fly More Combo (White)">
                                <img src="./img/sample-product14-preview.jpg" alt="DJI Mavic Air Fly More Combo (White)">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="14">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=14" class="product-item-name" title="DJI Mavic Air Fly More Combo (White)">
                                DJI Mavic Air Fly More Combo (White)
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱60,000
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                        </div>
                    </div>
                    
                        <div class="product-item productview-item ">
                        <div class="product-data">
                            <input type="hidden" class="product-data-id" name="product-data-id" value="15">
                            <input type="hidden" class="product-data-name" name="product-data-name" value="Wasabi Power Dual Slot Charger with 2 Replacement Battery for Nikon EN-EL14">
                            <input type="hidden" class="product-data-price" name="product-data-price" value="₱2,800">
                        </div>
                        <div class="product-item-wrapper">
                            <div class="product-item-image">
                            
                            <a href="product.html?prodid=15" class="product-item-image-link" title="Wasabi Power Dual Slot Charger with 2 Replacement Battery for Nikon EN-EL14">
                                <img src="./img/sample-product15-preview.jpg" alt="Wasabi Power Dual Slot Charger with 2 Replacement Battery for Nikon EN-EL14">
                            </a>
                            <a href="#quickview" class="btn quickview-button" data-prodid="15">Quick View</a>
                            </div>
                            <div class="product-item-context">
                            <a href="product.html?prodid=15" class="product-item-name" title="Wasabi Power Dual Slot Charger with 2 Replacement Battery for Nikon EN-EL14">
                                Wasabi Power Dual Slot Charger with 2 Replacement Battery for Nikon EN-EL14
                            </a>
                            <div class="product-item-rating">
                                <div class="star-rating" title="No Ratings">
                                <span style="width: 0%"></span>
                                </div>
                            </div>
                            <div class="product-item-price">
                                ₱2,800
                            </div>
                        </div>
                        <div class="product-item-actions">
                            <a href="#add-to-cart" class="btn btn-primary add-to-cart-button">
                            <i class="m-icon">shopping_cart</i>
                            <span>Add to Cart</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn add-to-wishlist-button">
                            <i class="m-icon">favorite_border</i>
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#add-to-wishlist" class="btn compare-button">
                            <i class="m-icon">compare_arrows</i>
                            <span>Compare Product</span>
                            </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF PRODUCT SLIDER -->