<partial src="breadcrumbs-login.html"></partial>

<!-- START OF TERMS DOCUMENT -->

<div class="section section-login">

    <div class="container">

        <div class="section-title">
            <h3>Account Login</h3>
        </div>
        
        <div class="section-body">
            <div class="subcontainer">
                <div class="subcontainer-card">
                    <div class="col-md-12">
                        <form class="form" action="register.html">
                            <div class="subcontainer-card-title">
                                <h4>New Customer</h4>
                                <p>Register Account</p>
                            </div>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                            <div class="form-action border-top">
                                <button type="submit" class="btn btn-primary btn-right">
                                    Continue
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="subcontainer-card">
                    <div class="col-md-12">
                        <div class="subcontainer-card-title">
                            <h4>Returning Customer</h4>
                            <p>I am a returning customer</p>
                        </div>
                    </div>
                    <form action="account.html" class="form">
                        <div class="form-group required">
                            <div class="col-lg-4 col-md-3 col-sm-12 text-right">
                                <label for="loginEmail">Email</label>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-12">
                                <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="name@domain.com">
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-lg-4 col-md-3 col-sm-12 text-right">
                                <label for="loginPassword">Password</label>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-12">
                                <input type="password" class="form-control" name="loginPassword" id="loginPassword">
                            </div>
                        </div>
                        <div class="forgotPassword">
                            <a href="forgotpassword.html">I forgot my password</a>
                        </div>
                        <div class="col-md-12">
                            <div class="form-action border-top">
                                <button type="submit" class="btn btn-primary btn-right">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END OF TERMS DOCUMENT -->