<partial src="breadcrumbs-forgotpassword.html"></partial>

<!-- START OF PRODUCT VIEW SECTION -->

<div class="section section-productview">

    <div class="container">

        <div class="section-title">
            <h3>
                Forgot your password?
            </h3>
            <p>Enter the e-mail address associated with your account. Click submit to have a password reset link e-mailed to you.</p>
        </div>

        <div class="col-md-6 offset-md-3">
            <div class="subcontainer-card full">
                <form class="form forgotpassword" action="resetpassword.html">
                    <div class="form-group required">
                        <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                            <label for="loginEmail">Email</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="name@domain.com" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-action inline-revesed border-top">
                            <button type="button" class="btn btn-outline-primary">
                                Back
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Retrieve
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END OF PRODUCT VIEW SECTION -->