<partial src="breadcrumbs.html"></partial>

<!-- START OF CATEGORY SECTION -->

<div class="section with-sidebar">

    <div class="container">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>Categories</h3>
                    <a href="#hide-sidebar" class="hide-sidebar">
                        <i class="m-icon">keyboard_arrow_left</i>
                    </a>
                </div>
                <div class="sidebar-content-body">
                    <div class="sidebar-content-treeview">
                        <partial src="category-tree.html"></partial>
                    </div>
                </div>
            </div>
            <partial src="newproducts-slider.html"></partial>
        </div>

        <partial src="category-grid.html"></partial>
    </div>
</div>

<!-- END OF CATEGORY SECTION -->