<partial src="breadcrumbs-forgotpassword.html"></partial>

<!-- START OF PRODUCT VIEW SECTION -->

<div class="section section-productview">

    <div class="container">

        <div class="section-title">
            <h3>
                Reset Your Password
            </h3>
            <p>Enter the new password you wish to use.</p>
        </div>

        <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
            <div class="subcontainer-card full">
                <form class="form forgotpassword" action="account.html">
                    <div class="form-group required">
                        <div class="col-lg-4 col-md-4 col-sm-12 text-right">
                            <label for="resetPassword">New Password</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <input type="password" class="form-control" name="resetPassword" id="resetPassword" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-4 col-md-4 col-sm-12 text-right">
                            <label for="resetPasswordConfirm">Password Confirm</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <input type="password" class="form-control" name="resetPasswordConfirm" id="resetPasswordConfirm" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-action inline-revesed border-top">
                            <button type="submit" class="btn btn-primary">
                                Confirm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END OF PRODUCT VIEW SECTION -->