<partial src="breadcrumbs-account.html" data-current="Address Book"></partial>

<!-- START OF TERMS DOCUMENT -->

<div class="section with-sidebar">

    <div class="container">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>My Account</h3>
                    <a href="#hide-sidebar" class="hide-sidebar">
                        <i class="m-icon">keyboard_arrow_left</i>
                    </a>
                </div>
                <div class="sidebar-content-body">
                    <partial src="myaccount-sidebar.html"></partial>
                </div>
            </div>
        </div>

        <partial src="myaccount-address.html"></partial>
</div>

<!-- END OF TERMS DOCUMENT -->