<div class="products-column">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="products-column-title">New Products</h3>
                <ul class="list-unstyled product-list">
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=1">
                                <img src="./img/sample-newproduct-thumb01.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=1" class="product-link">
                                <h5 class="mt-0">Ulysses Leather Camera Strap ( Green )</h5>
                            </a>
                            <h3>₱5,700</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=2">
                                <img src="./img/sample-newproduct-thumb02.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=2" class="product-link">
                                <h5 class="mt-0">Olympus Tough TG-6 Underwater Digital Camera</h5>
                            </a>
                            <h3>₱25,500</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=3">
                                <img src="./img/sample-newproduct-thumb03.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=3" class="product-link">
                                <h5 class="mt-0">Nitecore 18650 Li-Ion Rechargeable Battery (3.6V, 3500mAh)</h5>
                            </a>
                            <h3>₱900</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="products-column-title">On-Sale Products</h3>
                <ul class="list-unstyled product-list">
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=4">
                                <img src="./img/sample-onsaleproduct-thumb01.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=4" class="product-link">
                                <h5 class="mt-0">Supremo Conquest</h5>
                            </a>
                            <h3>₱4,390</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=5">
                                <img src="./img/sample-onsaleproduct-thumb02.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=5" class="product-link">
                                <h5 class="mt-0">Fujifilm FinePix XP130 Digital Camera</h5>
                            </a>
                            <h3>₱10,990</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=6">
                                <img src="./img/sample-onsaleproduct-thumb03.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=6" class="product-link">
                                <h5 class="mt-0">Fujifilm Instax Mini 9 Instant Film Camera</h5>
                            </a>
                            <h3>₱3,899</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="products-column-title">Most Viewed</h3>
                <ul class="list-unstyled product-list">
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=7">
                                <img src="./img/sample-mostviewedproduct-thumb01.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=7" class="product-link">
                                <h5 class="mt-0">JJC GP-J14 Long Thumb Knob Screw Bolt for GoPro</h5>
                            </a>
                            <h3>₱150</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=8">
                                <img src="./img/sample-mostviewedproduct-thumb02.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=8" class="product-link">
                                <h5 class="mt-0">Peak Design Anchor Mount</h5>
                            </a>
                            <h3>₱850</h3>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="media">
                            <a href="product.html?prodid=9">
                                <img src="./img/sample-mostviewedproduct-thumb03.jpg" class="mr-3" alt="...">
                            </a>
                            <div class="media-body">
                            <a href="product.html?prodid=9" class="product-link">
                                <h5 class="mt-0">Foldable Photo Table</h5>
                            </a>
                            <h3>₱5,509</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>