<!-- START OF SECTION BRANDS -->
<div class="brands-slider">
    <div class="container">
        <div class="slider">
            <div class="slider-container">
                <div class="slider-slide">
                    <img src="./img/brands/sony.png" alt="Sony">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/jjc.png" alt="JJC">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/itoya.png" alt="Itoya Art Profolio">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/fujifilm.png" alt="Fujifilm">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/nikon.png" alt="Nikon">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/scubalamp.png" alt="ScubaLamp">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/canon.png" alt="Canon">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/benro.png" alt="Benro">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/peakdesign.png" alt="Peak Design">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/kandf.png" alt="K & F Concept">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/seafrogs.png" alt="Sea Frogs">
                </div>
                <div class="slider-slide">
                    <img src="./img/brands/lensbaby.png" alt="Lensbaby">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF SECTION BRANDS -->