<div class="banners">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner">
                <a href="#bannerlink" class="banner-link">
                    <img src="./img/f8banner-01.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6 banner">
                <a href="#bannerlink" class="banner-link">
                    <img src="./img/f8banner-02.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>