// $path: "";
$path: "../fonts/suisseIntl";
$fontName: 'suisse intl';


@font-face {
    font-family: $fontName;
    src: url('#{$path}/suisseintl-light-webfont.eot');
    src: url('#{$path}/suisseintl-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}/suisseintl-light-webfont.woff2') format('woff2'),
         url('#{$path}/suisseintl-light-webfont.woff') format('woff'),
         url('#{$path}/suisseintl-light-webfont.ttf') format('truetype'),
         url('#{$path}/suisseintl-light-webfont.svg#suisse_intllight') format('svg');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: $fontName;
    src: url('#{$path}/suisseintl-regular-webfont.eot');
    src: url('#{$path}/suisseintl-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}/suisseintl-regular-webfont.woff2') format('woff2'),
         url('#{$path}/suisseintl-regular-webfont.woff') format('woff'),
         url('#{$path}/suisseintl-regular-webfont.ttf') format('truetype'),
         url('#{$path}/suisseintl-regular-webfont.svg#suisse_intlregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: $fontName;
    src: url('#{$path}/suisseintl-semibold-webfont.eot');
    src: url('#{$path}/suisseintl-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}/suisseintl-semibold-webfont.woff2') format('woff2'),
         url('#{$path}/suisseintl-semibold-webfont.woff') format('woff'),
         url('#{$path}/suisseintl-semibold-webfont.ttf') format('truetype'),
         url('#{$path}/suisseintl-semibold-webfont.svg#suisse_intlsemi_bold') format('svg');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: $fontName;
    src: url('#{$path}/suisseintl-thin-webfont.eot');
    src: url('#{$path}/suisseintl-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path}/suisseintl-thin-webfont.woff2') format('woff2'),
         url('#{$path}/suisseintl-thin-webfont.woff') format('woff'),
         url('#{$path}/suisseintl-thin-webfont.ttf') format('truetype'),
         url('#{$path}/suisseintl-thin-webfont.svg#suisse_intlthin') format('svg');
    font-weight: 100;
    font-style: normal;

}