.header-branding {
    // .branding-link
    &-link {
        width: 100%;
        max-width: 180px;
        min-width: 60px;
        position: relative;
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media #{$responsive-laptop} {
        width: 100%;
        @include flex(center, center);
    }
}