.breadcrumbs {
    margin: 2rem 0;

    @media #{$responsive-phone} {
        display: none;
    }
    
    .breadcrumb {
        background-color: transparent;

        @include flex(flex-start, center);
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;

        li {
            @include flex(flex-start, center);
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
            text-transform: uppercase;
            position: relative;
            font-weight: bold;

            &:not(:first-of-type) {
                &:before {
                    display: block;
                    content: '/';
                    margin: 0 1rem;
                    padding: 0;
                    width: 1px;
                    color: $lightgray;
                }
            }

            a {
                color: $gray;

                &:hover {
                    color: $primary-color;
                }
            }

            span {
                color: $black;
            }
        }
    }
}